@import '../../../styles/variables';
.articleBanner {
  background-color: #333;
  color: $white;
  padding: 3rem;
}
.container {
  margin: 0 auto;
  width: 1440px;
}
.title {
  font-size: 3rem;
  font-weight: bold;
}
