@import 'src/styles/variables';
@import 'src/styles/mixins';
.article {
  padding: 1rem 0;
  border-bottom: 1px solid $light_gray;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.description {
  color: $light_gray;
}

.footer {
  color: $light_gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
