@import 'src/styles/variables';
@import 'src/styles/mixins';
.auth {
}
.container {
  margin: 0 auto;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > * {
  margin-bottom: 1rem;
}

.form {
  width: inherit;
  & > * {
    margin-bottom: 1rem;
  }
}

.field {
  @include field;
}

.title {
  font-weight: 500;
}

.text {
  color: $green;
  &:hover {
    cursor: pointer;
    text-decoration: 1px solid;
    opacity: 0.3;
  }
}

.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.valid {
  color: red;
}
